/* css de base pour toute les autre page  */

*{
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
}

body{
    background-image:url(/Asset/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px ;
    margin-bottom: 20px;
    position: sticky;
    top: 0px;
    background-color: #f8f8f8;
}

header a{
    text-decoration: none;
    color: black;
    
}

header a:hover{
    opacity: 0.5;
}
/* css de base pour toute les autre page  */

.sectioncv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.sectioncv h2{
    margin-bottom: 40px;
}

.telechargement{
    margin-top: 40px;
    border: solid;
    padding: 10px 15px 10px 20px;
    border-radius: 30px;
    border-width: thin;
}


.telechargement svg{
    margin-bottom: -5px;
}

main a{
    text-decoration: none;
    color: black;
}

.coordonné{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: monserrat;
}

form div{
    margin: 10px;
}

.bouton{
    margin-top: 40px;
    border: solid;
    padding: 10px 15px 10px 20px;
    border-radius: 30px;
    border-width: thin;
}

.bouton p {
    border: none;
}

/* Footer de toutes les pages*/
footer a{
    margin-left: 45%;
    padding-bottom: 20PX;
    text-decoration: none;
    color: black;
}

footer a:hover{
    opacity: 0.5;
}
/* Footer de toutes les pages*/