/* css de base pour toute les autre page  */

*{
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
}

body{
    background-image:url(/Projetest/Asset/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px ;
    margin-bottom: 20px;
    position: sticky;
    top: 0px;
    background-color: #f8f8f8;
}

header a{
    text-decoration: none;
    color: black;
    
}

header a:hover{
    opacity: 0.5;
}
/* css de base pour toute les autre page  */
.leportfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.leportfo p{
    margin-top: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr§;
    width: 1400px ;
    height: 400px;
    margin-left: 70px;
    margin-top: 60px;
    margin-bottom: 30px;
    gap: 20px;
}

.grid div{
    transition: transform 0.5s;
}

.grid div:hover{
    transform: scale(1.1);
}

.div1{
    background-image: url(/Projetest/Asset/2023-06-19\ \(1\).png);
    background-size: cover;
}

.div1 a{
    text-decoration: none;
    color: #f8f8f8;
    background-color: black;
    margin-left: 20px;
    margin-bottom:px;
}

.div1 img{
    width: 40px;
    position: absolute;
    margin-top: -40px;
}

.div2{
    background-image: url(/Projetest/Asset/2023-06-19\ \(2\).png);
    background-size: cover;
}

.div2 a{
    text-decoration: none;
    color: #f8f8f8;
    margin-left: 20px;
    
}

.div2 img{
    width: 40px;
    position: absolute;
    margin-top: -40px;
}

/* Footer de toutes les pages*/
footer a{
    margin-top: 100px;
    margin-left: 45%;
    padding-bottom: 20PX;
    text-decoration: none;
    color: black;
    
}

footer a:hover{
    opacity: 0.5;
}
/* Footer de toutes les pages*/

@keyframes img {
    from{scale:1;}
    to{ scale: 1.1;}
}